<?xml version="1.0" encoding="UTF-8" ?>
<!-- Apache Commons Configuration -->
<configuration>
  <properties fileName="quartz.properties"/>
  <properties fileName="index-processor.properties" />
  
  <!-- Provides the DNS hostname -->
  <properties fileName="file:/etc/dataone/node.properties" />
  <properties fileName="file:/etc/dataone/index/d1client.properties" />
  <!-- Some specific properties for CNs -->
  <properties fileName="file:/etc/dataone/index/cn-index-processor.properties" />
</configuration>